body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.cluegrid-fullscreen-container {
  height: 100vh;
  background: linear-gradient(120deg, #3be8b0dd, #1aafd0dd, #6a67cedd);
  display: flex;
  justify-content: center;
  align-items: center;
  --app-height: 85vh;
  --app-width: 85vw;
  --cell-size: calc( (var(--app-height)/15) - 8px);
}

.cluegrid-data-not-loaded {
  font-size: 4rem;
  font-weight: 900;
  color: #ffffff99;
}

.cluegrid-container {
  height: var(--app-height);
  width: var(--app-width);
  display: flex;
}

.cluegrid-crossword-container {
}

/* TODO (13 Dec 2019 sam): A lot of these settings will have to be changed to use
 * vh or something, as this behaves very badly for different screen resolutions.
 */

.cluegrid-clues-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cluegrid-clues-header {
  text-align: center;
  background-color: #33333333;
  color: #ffffffcc;
  font-weight: 900;
  margin: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
}

.cluegrid-clues-cluelist {
  height: 100%;
  overflow-y: scroll;
}

.cluegrid-clue {
  min-height: calc (0.8 ** var(--cell-size));
  background-color: #ffffff99;
  border-radius: 0.6rem;
  padding: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #555;
  display: flex;
  justify-content: flex-start;
}

.cluegrid-clue-is-active {
  background-color: #ccccff99;
}

.cluegrid-clue-spacer {
  width: 1rem;
}

.cluegrid-clue-number {
  font-weight: 900;
  color: #555;
}

.cluegrid-clue-direction {
  font-weight: 900;
  color: #555;
}
.cluegrid-clue-text {
  flex-grow: 1;
}

.cluegrid-clue-current-solution {
}

.cluegrid-crossword-row {
  display: flex;
  margin-bottom: 0px;
}

.cluegrid-crossword-cell {
  background-color: #ffffff99;
  border-radius: 0.6rem;
  position: relative;
  border: 2px solid #ffffff00;
  margin: 2px;
  height: var(--cell-size);
  width: var(--cell-size);
  text-align: center;
  color: #555;
}

.cluegrid-crossword-cell-grid-number {
  font-size: 0.6rem;
  position: absolute;
  top: 2px;
  left: 3px;
}

.cluegrid-crossword-cell-is-blank {
  background-color: #33333333;
}

.cluegrid-crossword-cell-solution {
  padding-top: 0.35rem;
  font-size: 1.6rem;
  font-weight: 900;
  color: #33333388;
}

.cluegrid-crossword-cell-is-active-clue {
  background-color: #ccccff99;
}

.cluegrid-crossword-cell-is-active {
  background-color: #ccccff99;
  border: 2px solid #ffffff99;
}
