body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.cluegrid-fullscreen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(120deg, #3be8b0dd, #1aafd0dd, #6a67cedd);
  --app-height: 85vh;
  --app-width: 85vw;
  --cell-size: calc( (var(--app-height)/15) - 8px);
  --rem-size: calc(var(--cell-size)/3);
}

.landing-page-logo {
  opacity: 0.8;
}

.box {
  background-color: #ffffff99;
  width: 30vw;
  height: 30vh;
}

.cluegrid-header-container {
  display: flex;
  width: var(--app-width);
  justify-content: space-between;
}

.cluegrid-header-logo-container {
  height: 40px;
}
.cluegrid-header-logo {
  height: 20vh;
  overflow: show;
  transform: translate(0%, -25%);
  opacity: 0.6;
}

.cluegrid-header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cluegrid-header-button:hover {
  cursor: pointer;
}
.cluegrid-header-button {
  height: var(--cell-size);
  margin-left: calc( 0.3 * var(--cell-size));
  border-radius: calc(0.6 * var(--rem-size));
  border: solid 1px #ffffff99;
  text-align: center;
  padding-left: var(--rem-size);
  padding-right: var(--rem-size);
  color: #ffffff99;
  font-size: calc(var(--rem-size) );
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cluegrid-header-row {
  font-size: calc( 0.8 * var(--cell-size));
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cluegrid-modal {
}

.cluegrid-modal-background {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #99cccccc;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.cluegrid-modal-hidden {
  display: none;
}

.cluegrid-modal-container {
  width: 40vw;
  background-color: #ffffffcc;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: calc(var(--cell-size) * 0.3);
  color: #555;
  padding: 30px;
}

.cluegrid-modal-header {
  font-size: 3rem;
  font-weight: 900;
}

.cluegrid-modal-info-title {
  font-size: 1.3rem;
  font-weight: 900;
}

.cluegrid-modal-info {
  font-size: 1rem;
}

.cluegrid-modal-bold {
  font-weight: 900;
}

.cluegrid-modal-vert-spacer {
  height: 1rem;
}

.cluegrid-application-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluegrid-data-not-loaded {
  height: var(--app-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 900;
  color: #ffffff99;
}

.cluegrid-container {
  height: var(--app-height);
  width: var(--app-width);
  display: flex;
}

.cluegrid-crossword-container {
}

/* TODO (13 Dec 2019 sam): A lot of these settings will have to be changed to use
 * vh or something, as this behaves very badly for different screen resolutions.
 */

.cluegrid-clues-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cluegrid-clues-header {
  text-align: center;
  background-color: #33333333;
  color: #ffffffcc;
  font-weight: 900;
  margin: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
}

.cluegrid-clues-cluelist {
  height: 100%;
  overflow-y: scroll;
}

.cluegrid-clue {
  min-height: calc (0.8 ** var(--cell-size));
  background-color: #ffffff99;
  border-radius: calc(0.6 * var(--rem-size));
  padding: calc(1 * var(--rem-size));
  padding-top: calc(0.2 * var(--rem-size));
  padding-bottom: calc(0.2 * var(--rem-size));
  margin: calc(1 * var(--rem-size));
  margin-top: calc(0.1 * var(--rem-size));
  margin-bottom: calc(0.1 * var(--rem-size));
  color: #555;
  display: flex;
  justify-content: flex-start;
  transition: background-color .2s ease-in-out;
}

.cluegrid-clue-is-active {
  background-color: #ccccff99;
}

.cluegrid-clue-spacer {
  width: 1rem;
}

.cluegrid-clue-number {
  font-weight: 900;
  color: #555;
}

.cluegrid-clue-direction {
  font-weight: 900;
  color: #555;
}
.cluegrid-clue-text {
  flex-grow: 1;
}

.cluegrid-clue-current-solution {
}

.cluegrid-crossword-row {
  display: flex;
  margin-bottom: 0px;
}

.cluegrid-crossword-cell {
  background-color: #ffffff99;
  border-radius: calc(var(--rem-size) * 0.8);
  position: relative;
  border: 2px solid #ffffff00;
  margin: 2px;
  height: var(--cell-size);
  width: var(--cell-size);
  text-align: center;
  transition: background-color .2s ease-in-out;
}

.cluegrid-crossword-cell-grid-number {
  font-size: calc(var(--rem-size) * 0.8);
  position: absolute;
  top: 2px;
  left: 3px;
}

.cluegrid-crossword-cell-is-blank {
  background-color: #33333333;
}

.cluegrid-crossword-cell-solution {
  padding-top: calc(var(--rem-size) * 0.35);
  font-size: calc(var(--rem-size) * 1.6);
  font-weight: 900;
  color: #00000000;
  transition: color .2s ease-in-out;
}

.cluegrid-crossword-cell-solution-is-filled {
  color: #33333388;
}

.cluegrid-crossword-cell-is-other-clue {
  background-color: #ccffcc99;
}

.cluegrid-crossword-cell-is-active-clue {
  background-color: #ccccff99;
}

.cluegrid-crossword-cell-is-active {
  background-color: #ccccff99;
  border: 2px solid #ffffff99;
}
